.today-section {
  margin-top: 20px;         /* Không đẩy xuống xa */
  width: 100%;        /* Chiều ngang tối đa */
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);

  
  align-self: flex-end;

}

.today-section h3 {
  margin-bottom: 15px;
}

.today-event {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
  gap: 12px;

}

.today-event.blue {
  background: #e0f2fe;
  border-left: 5px solid #3b82f6;
}

.today-event.red {
  background: #fee2e2;
  border-left: 5px solid #ef4444;
}

.icon {
  font-size: 20px;
}

.content .title {
  font-weight: 600;
  margin-bottom: 4px;
}

.content .desc {
  font-size: 13px;
  color: #555;
}


.actions {
  margin-left: auto;       /* đẩy nhóm nút về lề phải */
  display: flex;
  align-items: center;
  gap: 10px;               /* khoảng cách edit ↔ delete */
}

.edit, 
.delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 4px;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;          /* hình vuông mini */
  height: 50px;
  font-size: 16px;
  border-radius: 8px;   /* bo 20% */
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

/* nút Edit – nền xanh nhạt */
.edit {
  background: #acefff;
  color: #003bfd;
  border: 20px;
  width: 30px;
  border-radius: 10px;
  height: 30px;        /* xanh lam đậm */
}
.edit:hover {
  background: #d6e6ff;
}

/* nút Delete – nền đỏ nhạt */
.delete {
  background: #fbc3c3;
  color: #640303;
  width: 30px;
  border-radius: 10px;
  height: 30px;        /* đỏ đậm */
}
.delete:hover {
  background: #ffd6d6;
}
