.navbar {
  width: 100%;
  background: white;
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  font-family: Arial, sans-serif;
}

/* LEFT - LOGO */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 32px;
  height: 32px;
}

.brand {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  color: #2563eb;
}



/* CENTER - MENU */
.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  color: #555;
}

.nav-menu li {
  cursor: pointer;
  padding-bottom: 4px;
  transition: 0.2s;
}

.nav-menu li:hover {
  color: #2563eb;
}

.nav-menu .active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}

/* RIGHT - USER */
.nav-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bell {
  position: relative;
}

.badges {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 50%;
}

.bell-icon {
  width: 24px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #8b5cf6;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
}

.user-role {
  font-size: 11px;
  color: #777;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-wrapper {
  width: 36px;
  height: 36px;
  padding: 6px;
  background: linear-gradient(135deg, #8b63d9, #7a4fce);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
}

